@import "tailwindcss";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
* {
  -webkit-font-smoothing: antialiased;
}
html,
body {
  height: 100%;
}
body {
  min-height: 100vh;
  height: 100vh;
  width: 100vw;
  background: black;
}
#root {
  height: inherit;
  width: inherit;
}
#container {
  height: 80%;
  width: 100%;
}
#footer {
  height: 10%;
}
#header {
  height: 10%;
}
html {
  /* This defines what 1rem is */
  font-size: 62.5%; /* 1rem = 10px; 10/16 = 62.5% */
}

/* Tablet landscape: width < 1200px */
@media (max-width: 75em) {
  html {
    font-size: 56.25%; /* 1rem = 9px */
  }
}

/* Tablet portrait: width < 900px */
@media (max-width: 56.25em) {
  html {
    font-size: 50%; /* 1rem = 8px */
  }
}

/* Phone: width < 600px */
@media (max-width: 37.5em) {
  html {
    font-size: 30%; /* 1rem = 4.8px */
  }
}

/* Big desktop: width > 1800px */
@media (min-width: 112.5em) {
  html {
    font-size: 75%; /* 1rem = 12px */
  }
}

#home__title {
  top: 30%;
  left: -30%;
}
#home__subtitle-0 {
  top: 31%;
  right: -35%;
}
#home__subtitle-1 {
  top: 38%;
  right: -38%;
}
#home__subtitle-2 {
  top: 45%;
  right: -39%;
}
#home__subtitle-3 {
  top: 52%;
  right: -38%;
}

#home__subtitle-4 {
  top: 59%;
  right: -37%;
}
.header__logo {
  border: 5px solid rgb(110, 110, 110);
}
#earth-wrapper {
  width: 52rem;
  height: 52rem;
  z-index: 100;
  background:
    radial-gradient(closest-side, rgb(0, 0, 0) 98.5%, transparent 82% 100%),
    conic-gradient(from 62deg, rgb(129, 129, 129) 14%, rgb(22, 22, 22) -2%);

  transition: all ease-in-out 3s;
}

@media (max-width: 500px) {
  #earth-wrapper {
    width: 33rem;
    height: 33rem;
  }
}

@media (min-width: 640px) {
  #earth-wrapper {
    width: 43rem;
    height: 43rem;
  }
}

@media (min-width: 768px) {
  #earth-wrapper {
    width: 52rem;
    height: 52rem;
  }
}
.center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#shadow {
  -webkit-box-shadow: 0px 0px 92px 51px rgba(56, 56, 56, 0.76);
  -moz-box-shadow: 0px 0px 92px 51px rgba(56, 56, 56, 0.76);
  box-shadow: 0px 0px 92px 51px rgba(56, 56, 56, 0.76);
  width: 23rem;
  height: 23rem;
  z-index: 0;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: black;
}

::-webkit-scrollbar-thumb {
  background: #fafafa;
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: black;
}
#earth-project {
  position: fixed;
  left: -18%;
  top: 16%;

  width: 52rem;
  height: 52rem;
  z-index: 100;
  background:
    radial-gradient(closest-side, rgb(0, 0, 0) 98.5%, transparent 82% 100%),
    conic-gradient(from 62deg, rgb(129, 129, 129) 14%, rgb(22, 22, 22) -2%);
}

#about__title {
  top: 5%;
  right: -50%;
}
#about__profile {
  transition: all 0.3s ease-in;
}
#about__profile:hover {
  -webkit-box-shadow: 0px 0px 92px 51px rgba(56, 56, 56, 0.76);
  -moz-box-shadow: 0px 0px 92px 51px rgba(56, 56, 56, 0.76);
  box-shadow: 0px 0px 92px 51px rgba(56, 56, 56, 0.76);
  border-color: white;
}
